.profileWrapper {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin-bottom: 20px;
}

.profileImages {
    height: 320px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); */
    margin-bottom: 20px;
}

.coverPicture {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}

.profilePicture {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    top: 164px !important;
    border: 3px solid white !important;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoDesc {
    font-weight: light;
}